/* Style for the main container */
.app-container {
  padding: 20px; /* Padding around the main content */
  max-width: 800px; /* Max width for the content area */
  margin: 20px auto; /* Center the content */
  background-color: #ffffff; /* White background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow for a lifted effect */
  border-radius: 8px; /* Rounded corners */
}
.mat-button {
  color: red;
}

/* Style for the title */
.app-container h1 {
  font-size: 24px; /* Font size for the title */
  color: #343a40; /* Dark color for the title text */
  text-align: center; /* Center the title text */
}
