.container{
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: cornflowerblue;
  font-family: "Book Antiqua";
  text-align: center;
}

h2{
  background-color: aliceblue;
  font-size:2.5em;
}

h3{
  background-color: aliceblue;
  font-size: 1.6em;
}

p{
  font-size: 1.3em;
}

/* Style for the navigation bar */
.nav-bar {
  background-color: #f8f9fa; /* Light grey background */
  padding: 10px 20px; /* Padding around the navbar */
  border-bottom: 1px solid #dee2e6; /* Border for separation */
}

.nav-bar nav {
  display: flex;
  justify-content: center; /* Center the links */
}

.nav-bar a {
  text-decoration: none; /* Remove underline from links */
  color: #007bff; /* Blue color for links */
  font-size: 18px; /* Font size for links */
  margin: 0 15px; /* Space between links */
}

.nav-bar a.active {
  font-weight: bold; /* Bold text for active link */
  color: #0056b3; /* Darker blue for active link */
}
