<!--<div class="nav-bar">-->
<!--  <nav>-->
<!--    <a routerLink="/cricketers" routerLinkActive="active">Cricketer List</a>-->
<!--    <a routerLink="/modify-cricketer" routerLinkActive="active">Modify Cricketer</a>-->
<!--  </nav>-->
<!--</div>-->

<!--<router-outlet></router-outlet>-->
<mat-toolbar color="primary">
  <span class="spacer"></span>
    <button mat-button routerLink="/cricketers" routerLinkActive="active">Cricketer List</button>
    <button mat-button routerLink="/modify-cricketer" routerLinkActive="active">Modify Cricketer</button>
</mat-toolbar>

<div class="app-container">
  <h1>{{ title }}</h1>

  <!--router outlet to display routed components -->
  <router-outlet></router-outlet>
</div>
