<div *ngIf="cricketerData" class="cricketer-detail">
  <h2>Cricketer Details</h2>
  <p><strong>ID: </strong>{{ cricketerData.id }}</p>
  <p><strong>First Name(Age) :</strong>{{ cricketerData |cricketerNameAge }}</p>
  <p><strong>Last Name:</strong> {{ cricketerData.lastName | uppercase }}</p>
  <p><strong>Date of Birth : </strong>{{cricketerData.dob | date}}</p>
  <p><strong>Country: </strong>{{ cricketerData.country }}</p>
  <p>Role : {{cricketerData.role}}</p>
  <p><strong>Net Worth : </strong>{{cricketerData.netWorth | currency : 'CAD'}} million</p>
  <p [ngClass]="cricketerData.isActive | cricketerStatus">
    Is Active: {{ cricketerData.isActive ? 'Active' : 'Inactive' }}
  </p>
  <img [src]="cricketerData.imageUrl" class="cricketer-image" alt="Image" height="200"/>
  <br>
  <button (click)="goBackward()" [disabled]="currentIndex === 0">Previous</button>
  <button (click)="goForward()" [disabled]="currentIndex === cricketerList.length - 1">Next</button>
  <button (click)="goBack()">Back to Cricketer List</button>
</div>

<div *ngIf="error" class="error">{{ error }}</div>
