<div>
  <table>
    <tbody>
    <tr>
      <th>Id</th>
      <th>First name</th>
      <th>Last Name</th>
      <th>Country</th>
      <th>Role</th>
      <th>Active</th>

    </tr>
    <tr *ngFor="let cricketer of cricketersList" (click)="selectPlayer(cricketer)">

      <td>{{ cricketer.id }}</td>
      <td>{{ cricketer.firstName }}</td>
      <td>{{ cricketer.lastName }}</td>
      <td>{{ cricketer.country }}</td>
      <td>{{ cricketer.role }}</td>
      <td>{{ cricketer.isActive}}</td>
    </tr>
    </tbody>
  </table>
  <app-cricketer-list-item *ngIf="selectedCricketer" [cricketerData] = "selectedCricketer"></app-cricketer-list-item>
</div>

<h1>Cricketer List</h1>
<!--cricketerData: This is the input property in CricketerListItemComponent where the data will be received.-->
<div *ngFor="let crc of cricketersList; let indexNum = index" class="info">
  <app-cricketer-list-item
    [cricketerData]="crc"
    [ngStyle]="{'background-color': indexNum % 2 === 0 ? 'red' : 'black'}">
  </app-cricketer-list-item>
</div>

<!--//this is like i am using cricketer-list-item tag for each time to show cricketer information-->
<app-cricketer-list-item>{{cricketersList[0].firstName}}</app-cricketer-list-item>
<app-cricketer-list-item>{{cricketersList[1].firstName}}</app-cricketer-list-item>
<app-cricketer-list-item>{{cricketersList[2].firstName}}</app-cricketer-list-item>
<app-cricketer-list-item>{{cricketersList[3].firstName}}</app-cricketer-list-item>


//below code is for if i want that when i click on any row it will show the information of the cricketer

<!--<tr *ngFor="let cricketer of cricketersList" (click)="selectPlayer(cricketer)">-->

<!--  <td>{{ cricketer.id }}</td>-->
<!--  <td>{{ cricketer.firstName }}</td>-->
<!--  <td>{{ cricketer.lastName }}</td>-->
<!--  <td>{{ cricketer.country }}</td>-->
<!--  <td>{{ cricketer.role }}</td>-->
<!--  <td>{{ cricketer.isActive}}</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--<app-cricketer-list-item *ngIf="selectedCricketer" [cricketerData] = "selectedCricketer"></app-cricketer-list-item>-->
<!--</div>-->
