<div>
  <table>
    <tbody>
    <tr *ngFor="let cricketer of cricketersList" (click)="selectPlayer(cricketer)">

      <td>{{ cricketer.id }}</td>
      <td>{{ cricketer.firstName }}</td>
      <td>{{ cricketer.lastName }}</td>
      <td>{{ cricketer.country }}</td>
      <td>{{ cricketer.role }}</td>
      <td>{{ cricketer.isActive ? 'Yes' : 'No' }}</td>
    </tr>
    </tbody>
  </table>
  <app-cricketer-detail [cricketer]="selectedCricketer"></app-cricketer-detail>
</div>

<app-cricketer-list-item>{{cricketersList[0].firstName}}</app-cricketer-list-item>
<app-cricketer-list-item>{{cricketersList[1].firstName}}</app-cricketer-list-item>
<app-cricketer-list-item>{{cricketersList[2].firstName}}</app-cricketer-list-item>
<app-cricketer-list-item>{{cricketersList[3].firstName}}</app-cricketer-list-item>
